[submodule "Year_3/Sem_1/2110431_Intro_to_Digital_Imaging"]
	path = Year_3/Sem_1/2110431_Intro_to_Digital_Imaging
	url = git@github.com:xHexlabx/2110431-INTRO-DIG-IMAGING.git
[submodule "Year_3/Sem_1/2110581_Bioinformatics_I"]
	path = Year_3/Sem_1/2110581_Bioinformatics_I
	url = git@github.com:xHexlabx/2110581-BIOINFORMATICS-I.git
[submodule "Year_2/2110363-HW-SYN-LAB"]
	path = Year_2/2110363-HW-SYN-LAB
	url = git@github.com:xHexlabx/2110363-HW-SYN-LAB.git
[submodule "Year_2/Sem_2/2110363-HW-SYN-LAB"]
	path = Year_2/Sem_2/2110363-HW-SYN-LAB
	url = git@github.com:xHexlabx/2110363-HW-SYN-LAB.git
[submodule "Year_3/Sem_1/2110366_Embedded_Sys_Lab"]
	path = Year_3/Sem_1/2110366_Embedded_Sys_Lab
	url = git@github.com:xHexlabx/2110366-EMBEDDED-SYS-LAB.git
